#imageTitle{
    width:100%;
}

#titleProduit{
    text-align:center;
}

#templateRight{
    width:50%;
    float: right;
}

#templateLeft{
    width:50%;
}

.imagep{
    width:90%;
}

.heightTextArea{
    height: 100%;
}

.borderAdmin{
    border: 1px solid blue;
    padding-top: 10px;
    margin-top: 10px;
}

.borderAdminNoIndent{
    border: 1px solid blue;  
}

#updateProduit{
    left: 14%;
}

.errorLog{
    color: red;
    width:100%;
    text-align:center;
    padding-top: 50px;
    font-size: 200%;
    font-weight: bold;
}

.successLog{
    color: green;
    width:100%;
    text-align:center;
    padding-top: 50px;
    font-size: 200%;
    font-weight: bold;
}