<div id="template">

  <div *ngIf="utils.readLocalStorageValue()">
    <mat-slide-toggle
      class=""
      color="primary"
      checked="false"
      (change)="editProduit();">
      Editer le produit!
    </mat-slide-toggle>
  </div>

  <div>
    <h3 *ngIf="edit == false" id="titleProduit">
        {{produit.nom}}
    </h3>
    
    <div *ngIf="edit == true" id="titleProduit">     
      <mat-icon [ngStyle]="{'font-size':'18px'}">edit</mat-icon>
      <mat-form-field>
          <input matInput placeholder="Titre" value="{{produit.nom}}" (change)="setNom(produit,$event)">
      </mat-form-field>
      <br/>
      <mat-slide-toggle
        class=""
        color="primary"
        [checked]="produitIsVisible" 
        (change)="isVisible(produit,$event)">
        Le produit est visible dans le menu ({{produitIsVisible}})!
      </mat-slide-toggle>
      <br/>
      <mat-form-field>
          <mat-select [(value)]="selectedValue" placeholder="Numéro de template" (selectionChange)="setTemplate(produit,$event)">
              <mat-option [value]="0">
                  0
              </mat-option>
              <mat-option [value]="1">
                  1
              </mat-option>
              <mat-option [value]="2">
                  2
              </mat-option>
              <mat-option [value]="3">
                  3
              </mat-option>
          </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="produit.id_template  == 0 && (produit.image_p == null || produit.image_p.length >= 50 || edit == true)">
      <div id="templateTop">
        <div id="templateImageTop" [ngClass]="{'borderAdminNoIndent': edit == true}">
          <img class="imagep" id="imagePrincipale" *ngIf="produit.image_p !== null && produit.image_p.length >= 50 " [src]="image_p" alt="templateImageRight" />
          <img class="imagep" id="imagePreviewP" *ngIf="produit.image_p == null || produit.image_p.length < 50 " src="assets/images/null.jpg" alt="templateImageRight" />
          <div *ngIf="edit == true">     
              <mat-icon [ngStyle]="{'font-size':'18px'}">attachment</mat-icon>
              <input type="file"
                     accept="image/png, image/jpeg" 
                     (change)="loadFileP(produit,$event)" />
          </div>
        </div>
      </div>

      <div id="templateSubTop">
        <div *ngIf="description_p !== '' && edit == false" id="templateDescription" [innerHTML]="description_p">

        </div>
        <div *ngIf="edit == true" [ngClass]="{'borderAdmin': edit == true}" style="min-height: 350px;">  
          <mat-form-field class="heightTextArea">
              <textarea matInput 
                        placeholder="Ecrire une description" 
                        [(ngModel)]="description_p" 
                        (change)="changeDescriptionP(produit,$event)"></textarea>
          </mat-form-field>
        </div>
      </div>

  </div>

    <div *ngIf="produit.id_template  == 1 && (produit.image_p == null || produit.image_p.length >= 50 || edit == true)">
        <div id="templateRight">
          <div id="templateImageRight" [ngClass]="{'borderAdminNoIndent': edit == true}">
            <img class="imagep" id="imagePrincipale" *ngIf="produit.image_p !== null && produit.image_p.length >= 50 " [src]="image_p" alt="templateImageRight" />
            <img class="imagep" id="imagePreviewP" *ngIf="produit.image_p == null || produit.image_p.length < 50 " src="assets/images/null.jpg" alt="templateImageRight" />
            <div *ngIf="edit == true">     
                <mat-icon [ngStyle]="{'font-size':'18px'}">attachment</mat-icon>
                <input type="file"
                       accept="image/png, image/jpeg" 
                       (change)="loadFileP(produit,$event)" />
            </div>
          </div>
        </div>

        <div id="templateLeft">
          <div *ngIf="description_p !== '' && edit == false" id="templateDescription" [innerHTML]="description_p">

          </div>
          <div *ngIf="edit == true" [ngClass]="{'borderAdmin': edit == true}" style="min-height: 350px;">  
            <mat-form-field class="heightTextArea">
                <textarea matInput 
                          placeholder="Ecrire une description" 
                          [(ngModel)]="description_p" 
                          (change)="changeDescriptionP(produit,$event)"></textarea>
            </mat-form-field>
          </div>
        </div>

    </div>

    <div *ngIf="produit.id_template  == 2 && (produit.image_p == null || produit.image_p.length >= 50  || edit == true)">
        <div id="imageTitleDiv" [ngClass]="{'borderAdmin': edit == true}">
            <img class="imagep" *ngIf="produit.image_p !== null && produit.image_p.length >= 50 " id="imageTitle" [src]="image_p" alt="templateImageTitle" />
            <img class="imagep" id="imagePreviewP" *ngIf="produit.image_p == null || produit.image_p.length < 50 " src="assets/images/null.jpg" alt="templateImageTitle" />
            <div *ngIf="edit == true">     
                <mat-icon [ngStyle]="{'font-size':'18px'}">attachment</mat-icon>
                <input type="file"
                       accept="image/png, image/jpeg" 
                       (change)="loadFileP(produit,$event)" />
            </div>
        </div>

        <div id="templateRight">
          <div id="templateImageRight" [ngClass]="{'borderAdmin': edit == true}">
            <img class="imagep" *ngIf="produit.image_p !== null && produit.image_p.length >= 50 " [src]="image_s" alt="templateImageRight" />
            <img class="imagep" id="imagePreviewS" *ngIf="produit.image_p == null || produit.image_p.length < 50 " src="assets/images/null.jpg" alt="templateImageRight" />
            <div *ngIf="edit == true">     
                <mat-icon [ngStyle]="{'font-size':'18px'}">attachment</mat-icon>
                <input type="file"
                       accept="image/png, image/jpeg" 
                       (change)="loadFileS(produit,$event)" />
            </div>
          </div>
        </div>

        <div id="templateLeft">
          <div *ngIf="description_p !== '' && edit == false" id="templateDescription" [innerHTML]="description_p">

          </div>
          <div *ngIf="edit == true" [ngClass]="{'borderAdmin': edit == true}" style="min-height: 350px;">  
              <mat-form-field class="heightTextArea">
                  <textarea matInput 
                            placeholder="Ecrire une description" 
                            [(ngModel)]="description_p" 
                            (change)="changeDescriptionP(produit,$event)"></textarea>
              </mat-form-field>
          </div>
        </div>

    </div>



    <div *ngIf="produit.id_template  == 3 && (produit.image_p == null || produit.image_p.length >= 50 || edit == true)">
        <div id="templateTop">
          <div id="templateImageTop" [ngClass]="{'borderAdminNoIndent': edit == true}">
            <img class="imagep" id="imagePrincipale" *ngIf="produit.image_p !== null && produit.image_p.length >= 50 " [src]="image_p" alt="templateImageTop" />
            <img class="imagep" id="imagePreviewP" *ngIf="produit.image_p == null || produit.image_p.length < 50 " src="assets/images/null.jpg" alt="templateImageRight" />
            <div *ngIf="edit == true">     
                <mat-icon [ngStyle]="{'font-size':'18px'}">attachment</mat-icon>
                <input type="file"
                       accept="image/png, image/jpeg" 
                       (change)="loadFileP(produit,$event)" />
            </div>
          </div>
        </div>
  
        <div id="templateSubTop">
          <div *ngIf="description_p !== '' && edit == false" id="templateDescription" [innerHTML]="description_p">
  
          </div>
          <div *ngIf="edit == true" [ngClass]="{'borderAdmin': edit == true}" style="min-height: 350px;">  
            <mat-form-field class="heightTextArea">
                <textarea matInput 
                          placeholder="Ecrire une description" 
                          [(ngModel)]="description_p" 
                          (change)="changeDescriptionP(produit,$event)"></textarea>
            </mat-form-field>
          </div>
        </div>


        <div id="templateBottom">
          <div id="templateImageBottom" [ngClass]="{'borderAdminNoIndent': edit == true}">
            <img class="imagep" id="imagePrincipale" *ngIf="produit.image_p !== null && produit.image_p.length >= 50 " [src]="image_s" alt="templateImageBottom" />
            <img class="imagep" id="imagePreviewP" *ngIf="produit.image_p == null || produit.image_p.length < 50 " src="assets/images/null.jpg" alt="templateImageRight" />
            <div *ngIf="edit == true">     
                <mat-icon [ngStyle]="{'font-size':'18px'}">attachment</mat-icon>
                <input type="file"
                       accept="image/png, image/jpeg" 
                       (change)="loadFileP(produit,$event)" />
            </div>
          </div>
        </div>
    </div>

    <button *ngIf="edit == true" (click)="updateProduit(produit)" id="updateProduit" color="primary" mat-raised-button>Update Produit</button>

    <div class="construction" *ngIf="produit.image_p == null || produit.image_p.length < 50 && edit == false">
        <img src="assets/images/construction.png" class="imgConstruction" alt="Site en construction!" />
    </div>

    <div id="errorLog401 &&  edit == true" *ngIf="utils.errorLog401" class="errorLog">{{utils.errorLog401}}</div>
    <div id="successLog &&  edit == true" *ngIf="utils.successLog" class="successLog">{{utils.successLog}}</div>
</div>
