<!--
<div class="construction" *ngIf="utils.isUnderConstruction">
    <img src="assets/images/construction.png" class="imgConstruction" alt="Site en construction!" />
</div>
-->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div id="contentDietetique" style="width:100%">
        <img id="imgFruit" src="assets/images/fruit.png" alt="image fruit" />

        <table style="width:100%">
            <tr>
                <td style="width:30%">
                    <img id="imgMat" src="assets/images/mat.jpg" alt="image mat" />
                </td>
                <td style="width:40%">
                    <div id="blocTxt">
                        <h5 class="dietCenter" id="titreInfo">Une démarche unique</h5>
        
                        <h3 class="dietCenter" id="titreDietetique">La diététique des 7 P</h3>
                        
                        <ul class="w3-ul">
                            <li class="dietCenter dietLi">Personnalisée</li>
                            <li class="dietCenter dietLi">Plaisir</li>
                            <li class="dietCenter dietLi">Progressive</li>
                            <li class="dietCenter dietLi">Préventive</li>
                            <li class="dietCenter dietLi">Prédictive</li>
                            <li class="dietCenter dietLi">Participative</li>
                            <li class="dietCenter dietLi">Purifiante</li>
                        </ul>
         
                    </div> 
                </td>
                <td style="width:30%">
                    <img id="imgSalt" src="assets/images/salt.jpg" alt="image salt" />
                </td>
            </tr>
        </table>
</div>
