<!--
<div class="construction" *ngIf="utils.isUnderConstruction">
    <img src="assets/images/construction.png" class="imgConstruction" alt="Site en construction!" />
</div>
-->
<div id="contentDietetique" style="width:100%">
        <img id="imgFruit" src="assets/images/fruit.png" alt="image fruit" />

        <table style="width:100%">
            <tr>
                <td style="width:30%">
                    <img style="width:100%" id="imgMat" src="assets/images/mat.jpg" alt="image mat" />
                </td>
                <td style="width:40%">
                    <div id="blocTxt">
                        <h5 class="dietCenter">Une démarche unique :</h5>
        
                        <h3 class="dietCenter">La diététique des 7 P</h3>
                        

                        <h5 class="dietCenter">Personnalisée</h5>
                        <h5 class="dietCenter">Plaisir</h5>
                        <h5 class="dietCenter">Progressive</h5>
                        <h5 class="dietCenter">Préventive</h5>
                        <h5 class="dietCenter">Prédictive</h5>
                        <h5 class="dietCenter">Participative</h5>
                        <h5 class="dietCenter">Purifiante</h5>
         
                    </div> 
                </td>
                <td style="width:30%">
                    <img style="width:80%" id="imgSalt" src="assets/images/salt.jpg" alt="image salt" />
                </td>
            </tr>
        </table>
</div>
