h2 {
    text-align: center;
    padding-top: 50px;
}

table {
    width: 100%;
    background-color: #fff;
}

th, td {
    font-weight: unset;
    padding-right: 10px;
}

th {
    font-size: 12px;
    color: #fff;
    line-height: 1.4;
    background-color: #36304a;
}

.columnId{
    width: 50px;
    padding-left: 25px;
    text-align: center;
}

.columnDelete{
    width: 50px;
    padding-right: 10px;
    text-align: center;
}

.pointer{
    cursor: pointer;
}



.ligne0:hover{
  background-color: silver !important;
  color: black;
  font-weight: bold;
}

.ligne1:hover{
    background-color: silver !important;
    color: black;
    font-weight: bold;
}

.ligne2:hover{
  background-color: silver !important;
  color: black;
  font-weight: bold;
}

.ligne3:hover{
    background-color: silver !important;
    color: black;
    font-weight: bold;
}

.ligne4:hover{
    background-color: silver !important;
    color: black;
    font-weight: bold;
}

.ligne5:hover{
    background-color: silver !important;
    color: black;
    font-weight: bold;
}

.ligne6:hover{
    background-color: silver !important;
    color: black;
    font-weight: bold;
}

.ligne7:hover{
    background-color: silver !important;
    color: black;
    font-weight: bold;
}

.ligne8:hover{
    background-color: silver !important;
    color: black;
    font-weight: bold;
}

.ligne9:hover{
    background-color: silver !important;
    color: black;
    font-weight: bold;
}

.ligne10:hover{
    background-color: silver !important;
    color: black;
    font-weight: bold;
}

.ligne11:hover{
    background-color: silver !important;
    color: black;
    font-weight: bold;
}

.ligneEdit:hover{
    background-color: silver !important;
    color: black;
    font-weight: bold;
}