<div id="editCategorie">

    <div *ngIf="utils.readLocalStorageValue()">
        <mat-slide-toggle
          class=""
          color="primary"
          checked="false"
          (change)="editCategories();">
          Editer les catégories!
        </mat-slide-toggle>
    </div>
    
    <div *ngIf="editCategorie">

      <div *ngIf="categories !== null">

        <table>
          <tr>
            <th class="columnId">Id</th>
            <th>Nom</th>
            <th>Is Visible</th>
            <th>Place</th>
            <th>Chemin Url</th>
            <th class="columnDelete">Supprimer</th>
          </tr>

          <tr *ngFor="let categorie of categories.records; let j = index" [ngClass]="'ligne'+j">
            <td class="columnId">
                {{categorie.id}}
            </td>
            <td>
              <mat-icon [ngStyle]="{'font-size':'18px'}">edit</mat-icon>
              <mat-form-field>
                  <input matInput placeholder="Titre" value="{{categorie.nom}}" (change)="setNom(categorie,$event)">
              </mat-form-field>
            </td>
            <td>
              <span>{{categorie.is_visible}}</span>
              <mat-icon [ngStyle]="{'font-size':'18px'}">pan_tool</mat-icon>
              <mat-slide-toggle
                class=""
                color="primary"
                [checked]="categorie.is_visible == '1'" 
                (change)="isVisible(categorie)">
              </mat-slide-toggle>
            </td>
            <td>
              <span>{{categorie.place}}</span>
              <mat-icon [ngStyle]="{'font-size':'18px'}">navigation</mat-icon>
              <mat-form-field>
                  <mat-select [(value)]="categorie.place" (selectionChange)="setPlace(categorie,$event);">
                    <mat-option *ngFor="let categorie of categories.records; let i = index" value="{{i+1}}">{{i+1}}</mat-option>
                  </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-icon [ngStyle]="{'font-size':'18px'}">edit</mat-icon>
              <mat-form-field>
                  <input matInput placeholder="url" value="{{categorie.routerlink}}" (change)="setRouterLink(categorie,$event)">
              </mat-form-field>
            </td>
            <td class="columnDelete">
                <mat-icon (click)="deleteCategorie(categorie.id)" [ngClass]="'pointer'" [ngStyle]="{'font-size':'18px'}">delete_forever</mat-icon>
            </td>
          </tr>

          <tr *ngIf="addFormIsActive" class="ligneEdit">
              <td class="columnId">
                  ??
              </td>
              <td>
                <mat-icon [ngStyle]="{'font-size':'18px'}">edit</mat-icon>
                <mat-form-field>
                    <input matInput placeholder="Titre" value="{{nomToAdd}}" (change)="setNomToAdd($event)">
                </mat-form-field>
              </td>
              <td>
                <span>{{is_visibleToAdd}}</span>
                <mat-icon [ngStyle]="{'font-size':'18px'}">pan_tool</mat-icon>
                <mat-slide-toggle
                  class=""
                  color="primary"
                  [checked]="is_visibleToAdd == '1'" 
                  (change)="isVisibleToAdd()">
                </mat-slide-toggle>
              </td>
              <td>
                <span>{{placeToAdd}}</span>
                <mat-icon [ngStyle]="{'font-size':'18px'}">navigation</mat-icon>
                <mat-form-field>
                    <mat-select [(value)]="placeToAdd">
                      <mat-option value="{{placeToAdd}}">{{placeToAdd}}</mat-option>
                    </mat-select>
                </mat-form-field>
              </td>
              <td>
                <mat-icon [ngStyle]="{'font-size':'18px'}">edit</mat-icon>
                <mat-form-field>
                    <input matInput placeholder="url" value="{{routerlinkToAdd}}" (change)="setRouterLinkToAdd($event)">
                </mat-form-field>
              </td>
              <td class="columnDelete">
                  <mat-icon *ngIf="addFormIsActive" (click)="addFormCategorie();initParamsAddForm();" [ngClass]="'pointer'" [ngStyle]="{'font-size':'18px'}">delete_forever</mat-icon>
              </td>
          </tr>

      </table>

      <table>
        <tr>
          <td>
            <button (click)="updateCategories();" id="updateCategories" color="primary" mat-raised-button>Update Categories</button>
          </td>
          <td>
            <button *ngIf="!addFormIsActive" (click)="addFormCategorie();" id="addCategorie" color="accent" mat-raised-button>Ajouter une Categorie</button>
            <button *ngIf="addFormIsActive" (click)="addCategorie()" id="addCategorie" color="accent" mat-raised-button>Sauvegarder la nouvelle Categorie</button>
          </td>
        </tr>
      </table>

      <div id="errorLog401" *ngIf="utils.errorLog401" class="errorLog">{{utils.errorLog401}}</div>
      <div id="successLog" *ngIf="utils.successLog" class="successLog">{{utils.successLog}}</div>

      </div>

    </div>

</div>