#content_faq{
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 130px;
}

#FAQ_title{
	text-align: center;
	color: #006e82;
}

h3{
	font-size: 1.17em;
}

.paddingTB{
	padding-bottom: 50px;
	padding-top: 30px;
}

@media only screen and (max-width: 500px) {
	h3{
		font-size: 0.9em;
	}
}