<div class="container-sub-header">
    <div id="content_faq">

        <h1 id="FAQ_title">FAQ : Question Fréquentes</h1>

        <div *ngIf="utils.readLocalStorageValue()" class="paddingTB">
            <mat-slide-toggle
                  class=""
                  color="primary"
                  checked="false"
                  (change)="editFAQs();">
                  Editer les FAQ!
            </mat-slide-toggle>
        </div>

        <mat-accordion *ngIf="faqs !== null && faqs !== undefined">

            <div *ngIf="!editerFAQs">
                <div *ngFor="let faq of utils.sortFAQs(faqs).records; let i = index">
                    <mat-expansion-panel *ngIf="faq.isvisible == '1'">
                        <mat-expansion-panel-header [collapsedHeight]="'120px'" [expandedHeight]="'120px'">
                        <mat-panel-description class="faq_panel_description">
                            <h3>{{faq.titre}}</h3>
                        </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div>
                            <p>{{faq.description}}</p>
                        </div>       
                    </mat-expansion-panel>
                </div>
            </div>

            <div *ngIf="editerFAQs">
                <mat-expansion-panel *ngFor="let faq of faqs.records; let i = index">
                    <mat-expansion-panel-header [collapsedHeight]="'120px'" [expandedHeight]="'120px'">
                    <mat-panel-description class="faq_panel_description">
                        <mat-form-field>
                            <input matInput placeholder="Titre" value="{{faq.titre}}" (change)="setTitre(faq,$event)">
                        </mat-form-field>
                    </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div>
                        <table>
                            <tr>
                                <td>
                                    <mat-icon *ngIf="faq.isvisible == '0'" [ngStyle]="{'font-size':'18px'}">visibility_off</mat-icon>
                                    <mat-icon *ngIf="faq.isvisible == '1'" [ngStyle]="{'font-size':'18px'}">visibility</mat-icon>
                                    <mat-slide-toggle
                                        class=""
                                        color="primary"
                                        [checked]="faq.isvisible == '1'" 
                                        (change)="isVisible(faq)">
                                    </mat-slide-toggle>
                                </td>
                        
                                <td>
                                    <mat-icon [ngStyle]="{'font-size':'18px'}">navigation</mat-icon>
                                    <mat-form-field>
                                        <mat-select [(value)]="faq.place" (selectionChange)="setPlace(faq,$event);">
                                          <mat-option *ngFor="let tmpFaq of faqs.records; let i = index" value="{{i+1}}">{{i+1}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                                <td class="columnDelete">
                                    <mat-icon (click)="deleteFAQ(faq.id)" [ngClass]="'pointer'" [ngStyle]="{'font-size':'18px'}">delete_forever</mat-icon>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <mat-form-field class="heightTextArea">
                            <textarea matInput 
                                      placeholder="Ecrire une description" 
                                      [(ngModel)]="faq.description" 
                                      (change)="changeDescription(faq,$event)">
                            </textarea>
                        </mat-form-field>
                    </div>       
                </mat-expansion-panel>
            </div>

            <mat-expansion-panel *ngIf="addFormIsActive && editerFAQs">
                    <mat-expansion-panel-header [collapsedHeight]="'120px'" [expandedHeight]="'120px'">
                      <mat-panel-description class="faq_panel_description">
                        <mat-form-field>
                            <input matInput placeholder="Titre" value="{{titreToAdd}}" (change)="setTitreToAdd($event)">
                        </mat-form-field>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div>
                        <table>
                            <tr>
                                <td>
                                    <mat-icon *ngIf="isvisibleToAdd == '0'" [ngStyle]="{'font-size':'18px'}">visibility_off</mat-icon>
                                    <mat-icon *ngIf="isvisibleToAdd == '1'" [ngStyle]="{'font-size':'18px'}">visibility</mat-icon>
                                    <mat-slide-toggle
                                      class=""
                                      color="primary"
                                      [checked]="isvisibleToAdd == '1'" 
                                      (change)="isVisibleToAddF()">
                                    </mat-slide-toggle>
                                </td>
                        
                                <td>
                                    <mat-icon [ngStyle]="{'font-size':'18px'}">navigation</mat-icon>
                                    <mat-form-field>
                                        <mat-select [(value)]="placeToAdd">
                                          <mat-option value="{{placeToAdd}}">{{placeToAdd}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                                <td class="columnDelete">
                                    <mat-icon *ngIf="addFormIsActive" (click)="addFormFAQ();initParamsAddForm();" [ngClass]="'pointer'" [ngStyle]="{'font-size':'18px'}">delete_forever</mat-icon>
                                </td>
                            </tr>
                
                        </table>
                    </div>
                    <div>
                        <mat-form-field class="heightTextArea">
                                <textarea matInput 
                                          placeholder="Ecrire une description" 
                                          [(ngModel)]="descriptionToAdd" 
                                          (change)="changeDescriptionToAdd($event)">
                                </textarea>
                        </mat-form-field>
                    </div>       
            </mat-expansion-panel>

        </mat-accordion>

        <table *ngIf="editerFAQs">
          <tr>
            <td>
              <button (click)="updateFAQs();" id="updateFAQs" color="primary" mat-raised-button>Update FAQs</button>
            </td>
            <td>
              <button *ngIf="!addFormIsActive" (click)="addFormFAQ();" id="addFAQ" color="accent" mat-raised-button>Ajouter une FAQ</button>
              <button *ngIf="addFormIsActive" (click)="addFAQ()" id="addFAQ" color="accent" mat-raised-button>Sauvegarder la nouvelle FAQ</button>
            </td>
          </tr>
        </table>

        <div id="errorLog401" *ngIf="utils.errorLog401" class="errorLog">{{utils.errorLog401}}</div>
        <div id="successLog" *ngIf="utils.successLog" class="successLog">{{utils.successLog}}</div>

        <div class="construction" *ngIf="utils.isUnderConstruction">
            <img src="assets/images/construction.png" class="imgConstruction" alt="Site en construction!" />
        </div>

    </div>
</div>

