<div class="container-sub-header">
    <div id="content_faq">

        <h1 id="FAQ_title">FAQ : Question Fréquentes</h1>

        <mat-accordion>


            <mat-expansion-panel>
                <mat-expansion-panel-header [collapsedHeight]="'120px'" [expandedHeight]="'120px'">
                  <mat-panel-description class="faq_panel_description">
                      <h3>Question 1 ?</h3>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                    <p>blabla..</p>
                    <p>blabla...</p>
                </div>       
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header [collapsedHeight]="'120px'" [expandedHeight]="'120px'">
                <mat-panel-description class="faq_panel_description">
                    <h3>Question 2 ?</h3>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div>
                  <p>blabla..</p>
                  <p>blabla...</p>
              </div>       
            </mat-expansion-panel>



        </mat-accordion>

    </div>
</div>

