<div *ngIf="screenWidth > 700 && produits !== null && produits.records.length > 0">
  <div id="subMenu">
    <div *ngFor="let produit of produits.records">
        
        <p  *ngIf="produit.isvisible == '1'"
            id="menu{{produit.place}}" (click)="setMenu(produit.place)">
            {{produit.nom}}
        </p>

        <p  *ngIf="produit.isvisible !== '1'"
            id="menu{{produit.place}}" style="display:none">
            {{produit.nom}}
        </p>

    </div> 
  </div>

  <div id="right" *ngIf="screenWidth > 700 && produits !== null && produits.records.length > 0">

      <div *ngIf="menuScClicked == 0">
          <p class="center">
              Sélectionnez un sous menu.
          </p>
      </div>

      <div *ngIf="menuScClicked  >= 1">
        <!-- On inclut le Contenu du menuSc1 -->
        <app-template id="app-template" [produit]="produit"></app-template> 
      </div>

  </div>
</div>

<div *ngIf="screenWidth <= 700 && produits !== null && produits.records.length > 0">
        <div *ngIf="getProduitById(produitId)">
                <!-- On inclut le Contenu du menuSc1 -->
                <app-template id="app-template" [produit]="produit"></app-template> 
        </div>
</div>

