body{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
	display: block;
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	min-height: 100vh;
}

#mainContainer{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
	flex: 1;
}

#wrapper{
	padding: 40px;
	display: flex;
	flex-direction: column;
}


.container-sub-header{
    position: relative;
	width: 100%;
	min-height: 73vh;
}

.construction{
	position: relative;
	top: 50px;
	padding-bottom: 50px;
	left: calc(50% - 100px);
	width: 50%;
}

.imgConstruction{
	width: 200px;
}



@media only screen and (max-width: 700px) {
    #wrapper{
		padding: 10px;
	}
	
	#mainContainer{
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media only screen and (max-width: 500px) {
    #wrapper{
		padding: 5px;
	}
	
	#mainContainer{
		padding-left: 5px;
		padding-right: 5px;
	}
}