#content_contact{
	padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}


#titleContact{
	color: #006e82;
	font-size: 30px;
}

.h2Contact{
	font-size: 24px;
}

.pContact{
	font-size: 16px;
}