<div class="container-sub-header">
  <div id="content_contact">
    <h1 id="titleContact">Contact</h1>
    <br />
    <h2 class="h2Contact">Vous pouvez nous contacter :</h2>
    <br />
    <h2 class="h2Contact">Par courrier</h2>
    <p class="pContact">
        Médical Esthétic Alizé<br /> Service Client <br /> 141 boulevard de Cessole<br /> 06100 NICE
    </p>
    <br />
    <h2 class="h2Contact">Par téléphone</h2>
    <p class="pContact">
      Notre Service Client est à votre disposition du lundi au vendredi de 8h30 à 19h
      au N° Cristal <a href="tel:+33778160150">0778160150</a> (au tarif d'une communication locale).
    </p>
    <br />
    <h2 class="h2Contact">Par Email</h2>
    <p class="pContact">
        <a href="mailto:secretariat@medical-esthetic-alize.com">secretariat@medical-esthetic-alize.com</a> 
    </p>
    <br />
  </div>
</div>
