<div *ngIf="screenWidth > 700 && produits !== null && produits.records.length > 0">
    <div id="subMenu">
        <p  *ngFor="let produit of produits.records" 
          id="menu{{produit.place}}" (click)="setMenu(produit.place)">
          {{produit.nom}}
        </p>
    </div>
    
    <div id="right" *ngIf="screenWidth > 700 && produits !== null && produits.records.length > 0">

        <div *ngIf="menuSvClicked == 0">
            <p>
                Sélectionnez un sous menu.
            </p>
        </div>

        <div *ngIf="menuSvClicked >= 1">
            <!-- On inclut le Contenu du menuSc1 -->
            <app-template id="app-template" [produit]="produit"></app-template> 
        </div>
    </div>

</div>
