<div class="topnav" id="myTopnav">

  <a id="menuTitle0" routerLink="./accueil" class="active" (click)="activeMenuTitle(0)">
    <mat-icon [ngStyle]="{'font-size':'18px'}">home</mat-icon>
  </a>

  <div *ngIf="screenWidth > 700 && categories !== null && categories.records.length > 0">
    <a  *ngFor="let categorie of categories.records" 
        id="menuTitle{{categorie.place}}" routerLink="./{{categorie.routerlink}}" (click)="activeMenuTitle(categorie.place)">
        {{categorie.nom}}
    </a>
  </div>

  <div *ngIf="screenWidth <= 700 && categories !== null && categories.records.length > 0">
      <a *ngFor="let categorie of categories.records" 
         id="menuTitle{{categorie.place}}" (click)="openSubMenu(''+categorie.place)">
        <button id="menuBtn{{categorie.place}}" class="dropdown-btn">{{categorie.nom}}
          <i class="fa fa-caret-down"></i>
        </button>

        <div id="content{{categorie.place}}" class="dropdown-container" *ngIf="produits !== null && sortedProducts !== null">
            <p  *ngFor="let produit of sortedProducts[categorie.place]"
                id="menu{{produit.place}}" class="pSubContent" (click)="setMenu(produit.place)">
                {{produit.nom}}
            </p>
        </div>

      </a>
  </div>

  <a href="http://facebook.com/">
    <img src="assets/images/icon-facebook.png" class="fbIco" alt="Facebook" />
  </a>

  <a href="javascript:void(0);" class="icon" (click)="activeMenuResponsive()">
      <mat-icon [ngStyle]="{'font-size':'18px'}">menu</mat-icon>
  </a>

</div>