<div class="topnav" id="myTopnav" (window:resize)="onResize($event)">

  <a *ngIf="windowSize <= 700" id="menuTitle0" routerLink="./accueil" class="active" (click)="activeMenuTitle(0);activeMenuResponsive();">
    <mat-icon [ngStyle]="{'font-size':'18px'}">home</mat-icon>
  </a>

  <a *ngIf="windowSize > 700" id="menuTitle0" routerLink="./accueil" class="active" (click)="activeMenuTitle(0);">
    <mat-icon [ngStyle]="{'font-size':'18px'}">home</mat-icon>
  </a>

  <a *ngIf="windowSize <= 700" id="menuTitle-1" routerLink="./cv" (click)="activeMenuTitle(-1);activeMenuResponsive();">
    CV
  </a>

  <a *ngIf="windowSize > 700" id="menuTitle-1" routerLink="./cv" (click)="activeMenuTitle(-1);">
    CV
  </a>

  <div id="subtopnav" *ngIf="categories !== null">
    <a  *ngFor="let categorie of categories.records" 
        id="menuTitle{{categorie.place}}" href="/{{categorie.routerlink}}" (click)="activeMenuTitle(categorie.place)">
        {{categorie.nom}}
    </a>
  </div>

  <div id="subtopnavMobile" *ngIf="categories !== null && sortedProducts !== null" style="display: none;">
      <div *ngFor="let categorie of categories.records"  
         id="menuTitle{{categorie.place}}" (click)="openSubMenu(''+categorie.place)">
        <div *ngIf="sortedProducts !== undefined && sortedProducts !== null && sortedProducts[categorie.id].length > 0">
          <button id="menuBtn{{categorie.place}}" class="dropdown-btn">{{categorie.nom}}
            <i class="fa fa-caret-down"></i>
          </button>
        </div>

        <div *ngIf="sortedProducts !== undefined && sortedProducts !== null && sortedProducts[categorie.id].length == 0">
            <button id="menuBtn{{categorie.place}}" routerLink="{{categorie.routerlink}}" (click)="activeMenuResponsive();" class="dropdown-btn">{{categorie.nom}}
            </button>
        </div>

        <div id="content{{categorie.place}}" class="dropdown-container" *ngIf="sortedProducts">
            <div *ngFor="let produit of sortedProducts[categorie.id]"> 
              <p *ngIf="produit.isvisible == '1'" routerLink="{{categorie.routerlink}}" [queryParams]="{prod:produit.id}"
                id="menu{{categorie.place}}{{produit.place}}" class="pSubContent" (click)="activeMenuResponsive();">
                {{produit.nom}}
              </p>
            </div>
        </div>

      </div>
  </div>

  <a href="https://www.facebook.com/Médical-Esthétic-Alizé-266149550726983">
    <img src="assets/images/icon-facebook.png" class="fbIco" alt="Facebook" />
  </a>

  <a *ngIf="utils.readLocalStorageValue()" id="btnMenuOpen" style="cursor:pointer" id="menuTitleDisconnect" (click)="utils.disconnect()">
    <mat-icon [ngStyle]="{'font-size':'18px','color':'red','font-weight':'bold'}">power_settings_new</mat-icon>
  </a>

  <a href="javascript:void(0);" class="icon" (click)="activeMenuResponsive()">
      <mat-icon [ngStyle]="{'font-size':'18px'}">menu</mat-icon>
  </a>


  <script>
    console.log(window.innerWidth);
    if(window.innerWidth <= 700){
      document.getElementById("subMenu").style.display = "none";
      document.getElementById("subtopnav").style.display = "none";
      document.getElementById("subtopnavMobile").style.display = "block";
    }else if(window.innerWidth > 700){
      document.getElementById("subMenu").style.display = "block";
      document.getElementById("subtopnav").style.display = "block";
      document.getElementById("subtopnavMobile").style.display = "none";
    }
  </script>

</div>