<!-- Corps HTML du footer -->
<div id="footer">

  <div id="footer_content">

    <div id="logo-footer-div">
      <a [routerLink]="['/']">
        <img id="logo-footer" src="assets/images/alizee_logo_footer.png" alt="Alizee06 Logo footer" />
      </a>
    </div>

    <ul  class="list-group">
        <li><a class="list-group footerStyle" id="footerLinkContact" routerLink="./contact">Contact</a></li> 
        <li><a class="list-group footerStyle" id="footerLinkFAQ" routerLink="./faq">Questions&nbsp;/&nbsp;Réponses</a></li>     
    </ul>

  </div>
</div>
